body,html{
	min-height: 100%; 
	width: 100%; 
	margin: 0; 
	padding: 0; 
	font-family: 'Architects Daughter', cursive;	
}

body{
	background: url(../image/background/01.jpg) no-repeat fixed;
	background-size: cover;
	transition: background, 0.1s;
}

p{
	margin:0;
	padding:0;
}

a{
	text-decoration: none; 
	color:black;
	font-weight: 700;
}

a:hover{
	text-decoration: none; 
	color:#541712;
}

.topNavigation {
	top:0;left:0;right:0;
	height:50px;
	position:fixed;
	background-color: #FFFFFF;
	padding:0 20px;
	z-index: 9999;
	font-size:20px;
	font-weight:700;
	margin:0 auto;
	opacity: 0.9;
}

.topNavigation .logo p{
	float: left;
	vertical-align: middle;
	margin:15px 0px;
	margin-left: 30px;
}

.topNavigation .menu{
	list-style-type: none;
	float:right;margin:15px 0px;
}


.topNavigation li{
	margin:0 10px;
	display:inline-block;
}

.topNavigation li:hover{
	text-decoration:underline;
}

.topNavigation li.active a{
	color: #DC143C;
}

.contentBox{
	
}

.welcome{
	top: 50px;
    text-align: center;
    font-size: 64px;
    line-height: 750px;
    color:#012C34;

}
.background1{
	height: 200px;

}

.titleBox{
	background-color: rgb(67, 121, 131);
	height:700px;
	margin-top:50px;
	box-sizing:border-box;  
	padding: 0 50px;
	color:#012C34;
	text-align: center;

}

.titleBox h1{
	padding-top:265px;
	font-size: 35px;
	padding-bottom: 30px;
	display:none;
}
.titleBox p{
	width: 60%;
	font-size: 20px;
	margin:0 auto;
	display:none;
}
.projectList{
	background: rgba(15, 69, 79,0.9);
	width:100%;
    margin-bottom: 40px;
    display:table;
}
.projectList .block{
	width: 23%;
    height: 340px;
    margin: 1%;
	float:left;
	box-sizing:border-box;
	overflow-y: hidden; 
	color: white;
	-webkit-transition: background-color 0.5s; 
	transition: background-color 0.7s;
	border: 5px;
	border-image: url(../image/background/diamond_lines_border.png) 16 16 16 stretch;
	cursor: pointer;
	width: 48%;
}
/*.projectList .block:nth-child(3n+1){
	background-color:#43242C;
}*/
.projectList .block:nth-child(3n+2){
	background-color:#3F3d53; 
}
.projectList .block:nth-child(3n+3){
	background-color:#5E6874; 
}
.projectList .block:nth-child(3n+4){
	background-color:#43242C; 
}
.projectList .block ul{
	    padding: 0 0 0 10px;
}

.projectList .block a{
	    color:white;
	    text-decoration: none;
}

.projectList .block a:hover{
	    color: #541712;
	    text-decoration: underline;
}
.projectList .block.list:hover{
	background-color:rgba(255,255,255,0.5);transition: 1s;
}
.projectList .block:not(:hover){
	transition: 1s;
}

.projectList .block#sectionTitle{
	background-color: #985051; 
	color: #FFFFFF; 
	vertical-align: middle;
	text-align:center;
	cursor: auto;
	padding-top: 15%;
}
.projectList .block .content{
	padding:20px;position:relative;text-align: center;
}

.projectList .block .content h2,h3{
	text-align: center;margin:0px;
}

.projectList .block p,li{
	font-size: 30px; 
}
.projectList .block .content .projectName{
	margin-top: 30%; 
	position:relative;
	padding-bottom: 10px;
}
.projectList .block p,li,.projectRemark{
	font-size: 14px; 
}

.projectList .block a{
	text-decoration: underline;
}

.projectList .block .projectIcon{
	display:inline;
}
.projectList .block .projectIcon img{
	width:80%;position:relative; display:none;border: 3px solid #555555;
}

.projectList .projectDescription{
	text-align: left;padding: 30px;
}
.projectList .projectDescription p{
	padding-bottom:3px;
}

.projectList .popUpFrame{
	position: fixed;
	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background: rgba(0, 0, 0, 0.7);
  	transition: opacity 500ms;
  	visibility: hidden;
  	opacity: 0;
    z-index: 99;
}

.projectList .popUpContainer{
	background-color: #FFFFFF;
    border-radius: 10px;
    width: 500px;
    margin: 15% auto;
}

.mobile {
	display: none;
}

.coding{
	float: left;
    width: 50.5%;
    border-right: 0.3em dashed black;
}
.projectManagement{
	float:right;
	width:49%;
}

@media screen and (max-width: 1024px) {
	.coding{float: none;width: 100%;border-right: none;}
	.projectManagement{float:none;width:100%;}
	.projectList .block#sectionTitle{width:98%;}
}

@media screen and (max-width: 768px) {
	.topNavigation .menu{font-size:20px;}
	.projectList .block {width:100%;height:450px;border:0px;margin:0;}
	.projectList .block .projectIcon img{width:50%;}
	.welcome {font-size: 60px;}
	.titleBox {border:0px;}
	.projectList .block#sectionTitle{width:100%;}
	.projectList .block .content .projectName{margin-top:170px;}
	.titleBox {height: 380px;}
	.titleBox h1 {padding-top: 80px;}
	.titleBox p {width: 100%}
	.welcome{line-height: 600px; font-size: 60px;}
	
	    
@media screen and (max-width: 479px) {
	.projectList .block {width:100%;height:400px;margin:0;}
	.projectList .block .projectIcon img{width:80%;}
	li{margin-right:0px;}
	.welcome{line-height: 600px; font-size: 30px;}
	.topNavigation .menu{display: none;}
	.topNavigation .mobile.menu{display: block;/*margin: 15px 60px; ;*/}
	.topNavigation .mobile.menu ul{position:absolute;display:none;right:0;top:100%;width:100px;}
	.topNavigation .mobile.menu ul li{display: block;background-color: #FFFFFF; height:40px; text-align: center;padding-top:20px;}
	.titleBox{height:580px;}
	.projectList .block .content .projectName{margin-top:140px;}
	.topNavigation .logo p{margin-left: 0px;}
	.topNavigation li{margin:0px;}
	.projectList .popUpContainer {margin: 75px auto; width: 100%; height: 80%;}
	.projectList .popUpContainer img{display:none;}
}
